.search-bar {
  max-width: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  height: 1.5rem;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  gap: 1.5rem;
}

.search-input {
  all: unset;
  text-align: center;
  font-size: 0.8rem;
}

.results-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
