.exercise p {
  font-size: 2rem;
  padding: 1rem;
}

.exercise-icon {
  transition: all 0.2s ease;
  cursor: pointer;
  width: fit-content;
  background-color: var(--main-color);
  border-radius: 16px;
  padding: 8px 16px;
  border: grey solid 0.1px;
  color: white;
  flex: 1;
  min-width: 10rem;
  min-height: 3rem;
}

.exercise-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}
