.searchbar button {
  color: white;
  position: relative;
  left: 32px;
}

.exercises-list {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 16px;
}

@media (max-width: 768px) {
  .exercises-list {
    gap: 1rem;
  }
}
