.add-template-container {
  display: flex;
  /* justify-content: center; */
  /* margin-bottom: 12rem; */
}

.addTemplateButton {
  background: var(--accent-color);
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  margin-top: 10rem;
}
