h2 {
  width: auto;
  align-self: start;
}

.new-template-form button {
  align-self: flex-start;
}

.template-exercises {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.exercisesHeader {
  display: flex;
  justify-content: space-between;
  /* gap: 2.5rem; */
  /* margin-right: 5rem; */
}

.headerSupportText {
  align-self: start;
}

.emptySpace {
  width: 2rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

input {
  all: unset;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 95%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.form label {
  align-self: start;
}

.left {
  align-self: start;
}

.newRoutineBtn:disabled {
  background-color: grey;
  opacity: 0.5;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: auto;
  width: 100%;
}
