.newTemplateContainer {
  background-color: var(--main-bg-color);
  border-radius: 0.5rem;
  padding: 30px;
}

.input {
  background-color: var(--main-bg-color-light);
  color: white;
  font-size: 1rem;
  border: var(--input-border-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.saveButton {
  background: none;
  border: none;
  font-size: 2rem;
}

.saveButton:hover {
  color: var(--accent-color);
}
