.newTemplateContainer {
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
  background-color: var(--main-bg-color);
  border-radius: 0.5rem;
  padding: 30px;
  display: grid;
}
.newTemplateContainer label,
.newTemplateContainer input,
.newTemplateContainer select {
  color: var(--grey-text-color);
}

.newTemplateForm {
  grid-column: 1 / 3;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  background-color: var(--main-bg-color-light);
  font-size: 1rem;
  border: var(--input-border-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* The close button for the overlay */
.newTemplateContainer svg {
  margin-left: auto;
}

.overlaySection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
