.new-template-form {
  padding: 16px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 1rem;
}

.new-template-form button {
  align-self: flex-start;
}

.template-exercises {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.save-template-button {
  width: 5rem;
  box-sizing: content-box;
}

.save-template-button-container {
  display: flex;
  justify-content: center;
}

input {
  all: unset;
  background: none;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  align-items: center;
  gap: 3rem;
}
