.exercise-in-template {
  background-color: var(--accent-color-dark);
  height: auto;
  width: 9rem;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 1px 1px 3px rgba(109, 108, 113, 0.772);
}

.deleteButton {
  background: none;
  border: none;
  padding: 5px;
}

.xIcon {
  background-color: red;
  border-radius: 0.5rem;
  color: #d2d2d2;
  stroke-width: 3px;
  padding: 2px;
}

.xIcon:hover {
  color: var(--accent-color-light);
}

.exerciseTitle {
  font-weight: 500;
  width: 55%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exerciseText {
  font-size: 0.8rem;
}

.exerciseRow {
  justify-content: space-between;
}
