.new-template-form {
  background-color: var(--main-color);
  padding: 16px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 1rem;
}

.new-template-form button {
  align-self: flex-start;
}

.template-exercises {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.save-template-button {
  margin-top: 32px;
  background-color: #222a84;
  width: 96px;
  box-sizing: content-box;
  border-style: double;
  border-width: 4px;
  box-shadow: 0px 0px 17px rgb(255, 255, 255);
}

.save-template-button-container {
  display: flex;
  justify-content: center;
}
