.workout-template-icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--main-bg-color-light);
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem;
  padding: 8px;
  overflow: hidden;
}

.icon-buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;

  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.workout-template-icon-exercises {
  padding-top: 16px;
  font-size: 0.8rem;
  overflow: auto;
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s linear;
}

.workout-template-icon-exercises.exercisesShowing {
  max-height: 5rem;
}

.templateIconHeader {
  display: inline-block;
  margin: auto;
  margin-left: 0;
}

.exercisesShowing {
  display: block;
}
