.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyLogo {
  max-width: 400px;
  flex: 1;
  width: 100%;
}

.homeSectionContainer {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  padding: 0 1.5rem;
}

/* Top section */
.topSectionContainer {
  flex-direction: row;
  gap: 1rem;
}

.topTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
  flex: 1;
}

.signUpButtons {
  display: flex;
  gap: 1rem;
}

/* Middle section */

.middleSectionContainer {
  background-color: var(--middle-section-color);
  gap: 2rem;
}

.middleSectionTiles {
  display: flex;
  gap: 0.8rem;
}
