.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyLogo {
  max-width: 400px;
  width: 100%;
  min-width: 183px;
}

.homeSectionContainer {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  width: 100%;
}

/* Top section */
.topSectionContainer {
  flex-direction: row;
  gap: 1rem;
}

.topTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 50%;
  flex: 1;
}

.signUpButtons {
  display: flex;
  gap: 1rem;
}

/* Middle section */

.middleSectionContainer {
  background-color: var(--middle-section-color);
  gap: 2rem;
}

.middleSectionTiles {
  display: flex;
  gap: 0.8rem;
}

/* Third Section */

.thirdSectionContainer {
  background-color: var(--accent-color);
  height: 7rem;
  flex-direction: row;
}

.textSection {
  flex: 1;
  text-align: center;
}

.textSection .smallText {
  font-size: 0.5rem;
  color: black;
}

.textSection .bigText {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
}
