.login_form {
  background-color: rgb(111, 108, 108, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  border: solid rgba(71, 70, 70, 0.664) 1px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  min-width: 280px;
}

.login_field {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.login_input {
  background-color: rgba(82, 79, 79, 0.5);
  border: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: white;
}
