.navbar-header {
  position: fixed;
  top: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 2000;
  background-color: var(--header-background-color);
}

.navbar-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 100;
  height: var(--header-height);
}

.navbar-links {
  display: flex;
}

a.active p,
a.active {
  font-weight: bold;
  color: var(--accent-color);
}

nav a {
  color: rgb(238, 230, 230);
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
}

nav a:hover {
  transform: translateY(-2px);
  font-size: bold;
}

.openNavbarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.burger-menu {
  display: none;
}

.navbarLogo {
  height: 5rem;
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    font-size: 1.5rem;
  }

  .button-with-icon svg {
    display: none;
  }

  .navbar-links {
    position: absolute;
    z-index: 1100;
    display: flex;
    align-items: flex-end;
    height: 0;
    opacity: 0;
    transition: height 0.8s linear, opacity 0.8s linear;
    overflow: hidden;
    flex-direction: column;
    right: 1rem;
    top: 5rem;
    padding: 0.3rem;
    border-radius: 8px;
    background-color: var(--accent-color);
  }

  .navbar-links.open {
    height: 135px;
    opacity: 1;
  }

  nav a {
    border-bottom: 1px solid #444;
  }

  nav a:last-child {
    border-bottom: none;
  }

  .navbar-links {
    box-shadow: 5px 5px 3px black;
  }

  a.active,
  a.active p {
    color: white;
  }
}
