.profileTile_container {
  background: rgba(25, 25, 25, 0.3);
  box-shadow: 0px 0px 8px rgb(158, 151, 151);
  display: flex;
  width: fit-content;
  padding: 0.7rem;
  border-radius: 16px;
  position: absolute;
  top: 8rem;
  right: 1rem;
  z-index: 1200;
  gap: 0.5rem;
  align-items: center;
}

.userTile_signIn_button {
  font-weight: 600;
}
