@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #101f2c;
  --main-bg-color-light: #1d374f;
  --main-bg-color-dark: #0a121a;
  --main-color: rgba(131, 130, 134, 0.195);
  --accent-color: #d5a021;
  --accent-color-light: #ddb34d;
  --accent-color-dark: #c0901e;
  --grey-color: #ebebeb;
  --button-hover-shadow: rgba(255, 255, 255, 0.6);
  --button-color: rgba(105, 122, 206, 0.713);
  --header-height: 7rem;
  --footer-height: 7rem;
  --header-background-color: #20203d58;
  --footer-color: #d5a021;
  --middle-section-color: rgba(108, 107, 112, 0.156);
}

p,
label {
  color: white;
}

/* General classes */

body {
  background-color: var(--main-bg-color-dark);
  font-family: "Rubik", sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-small {
  gap: 6px;
}

/* Plasma background */

.plasma-container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main content */

.main-content {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  margin-top: var(--header-height);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-container {
  background: var(--main-color);
  border-radius: 32px;
  padding: 1rem;
  margin: 64px;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 4rem;
}

.exercise-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}

/* Buttons */

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  padding: 8px 16px;
  border-style: none;
  font-weight: 700;
  color: var(--main-bg-color-dark);
}

.text-btn {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--main-bg-color);
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  border: none;
}

.text-btn:hover {
  background-color: var(--accent-color-dark);
  transform: translateY(-2px);
}

.accent-text-btn {
  background-color: var(--main-bg-color-light);
  border-radius: 0.5rem;
  color: var(--grey-color);
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
}

.accent-text-btn:hover {
  background-color: var(--main-bg-color-dark);
  transform: translateY(-2px);
  box-shadow: inset 0 0 0 3px var(--main-bg-color-light);
}

.accentButton {
  display: flex;
  align-items: center;
  background-color: var(--main-bg-color-light);
  transition: all 0.2s ease;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  color: var(--grey-color);
}

.button-with-icon {
  position: relative;
  display: flex;
  gap: 6px;
  width: 100px;
  height: 40px;
  background-color: var(--button-color);
  border-radius: 6px;
  align-items: center;
  padding: 6px;
  border-style: none;
  transition-duration: 0.3s;
}

.button-with-icon:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 12px var(--button-hover-shadow);
}

/* For the Edit button in the EditTemplate component */
.svg {
  width: 24px;
  position: absolute;
  right: 0;
  margin: 10px;
  transition-duration: 0.3s;
}

.overlay-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  h3,
  button {
    font-size: 0.8rem;
  }
}

.loader {
  color: white;
  height: 100%;
}
