@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #101f2c;
  --main-bg-color-light: #1d374f;
  --main-bg-color-dark: #0a121a;
  --main-color: rgba(131, 130, 134, 0.195);
  --accent-color: #d5a021;
  --accent-color-light: #ddb34d;
  --accent-color-dark: #c0901e;
  --grey-color: #ebebeb;
  --grey-text-color: rgba(236, 236, 236, 0.5);
  --button-hover-shadow: rgba(255, 255, 255, 0.6);
  --button-color: rgba(105, 122, 206, 0.713);
  --header-height: 7rem;
  --footer-height: 7rem;
  --header-background-color: #20203d58;
  --footer-color: #d5a021;
  --middle-section-color: rgba(108, 107, 112, 0.156);
  --input-border-color: solid rgba(123, 123, 123, 0.534) 0.5px;
}

p,
label {
  color: rgb(225, 225, 225);
}

p.light-text {
  color: var(--grey-text-color);
}

/* General classes */

body {
  background-color: var(--main-bg-color-dark);
  font-family: "Rubik", sans-serif;
}

.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-small {
  gap: 6px;
}

/* Plasma background */

.plasma-container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main content */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  margin: var(--header-height) auto 0 0;
  width: 100vw;
}

.workout-page {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 8rem minmax(30rem, auto);
  grid-gap: 2rem;
  margin: 2rem auto;
  width: 80%;
}

.workout-page-header {
  text-align: start;
  width: 50%;
  min-width: 100%;
}

.workout-page-header-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: fit-content;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  color: var(--grey-color);
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

.exercise-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}

/* Buttons */

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.text-btn {
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  font-weight: 600;
  color: var(--main-bg-color);
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  border: none;
}

.text-btn:hover {
  background-color: var(--accent-color-dark);
  transform: translateY(-2px);
}

.accent-text-btn {
  background-color: var(--main-bg-color-light);
  border-radius: 0.5rem;
  color: var(--grey-color);
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  font-weight: 500;
}

.accent-text-btn:hover {
  background-color: var(--main-bg-color-dark);
  transform: translateY(-2px);
  box-shadow: inset 0 0 0 3px var(--main-bg-color-light);
}

/* Buttons with an icon*/

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  min-width: 6rem;
  height: 2rem;
  border: none;
  padding: 0px 12px;
  background-color: var(--button-color);
  color: var(--grey-color);
  border-radius: 10px;
  transition-duration: 0.3s;
}

.icon-btn svg {
  color: var(--main-bg-color-dark);
}

.icon-btn:hover span {
  color: transparent;
}

.icon-btn:hover svg {
  left: 34%;
  transition-duration: 0.3s;
}

.svg {
  width: 1.2rem;
  position: relative;
  left: 0;
  transition-duration: 0.3s;
}

.icon-btn-accent-color {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-weight: 600;
}

.overlay-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(168, 160, 160, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.information-row {
  display: flex;
  align-items: center;

  width: 100%;
  background-color: var(--main-bg-color-light);
  border-radius: 0.5rem;
}

.information-row p {
  padding: 0.5rem;
  font-size: 0.7rem;
}

/* For the column headers in the templates containers */

.template-column-headers {
  background: none;
}

.template-column-headers p:first-child {
  width: 55%;
}

p.small-text {
  font-size: 0.8rem;
}

.template-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--main-bg-color);
  border-radius: 0.8rem;
  padding: 2rem 1rem;
  min-height: 35rem;
}

@media (max-width: 768px) {
  p {
    font-size: 0.7rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  h3,
  button {
    font-size: 0.8rem;
  }
}

.loader {
  color: white;
  height: 100%;
}

/* Burger Menu */

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 2rem;
  height: 2rem;
  color: var(--grey-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 4px;
  border: none;
  font-size: 1.2rem;
}
