* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg-color: #191923;
  --main-color: rgba(38, 0, 255, 0.3);
  --accent-color: #d5a021;
  --button-hover-shadow: rgba(255, 255, 255, 0.6);
  --button-color: rgba(105, 122, 206, 0.713);
}

p {
  color: white;
}

/* General classes */

body {
  background-color: black;
}

html {
  padding: 0px;
}

.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-small {
  gap: 6px;
}

/* Plasma background */

.plasma-container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main content */

.main-content {
  width: 100%;
  /* margin: 160px auto; */
  background-color: rgba(25, 25, 35, 0.5);
  border-radius: 32px;
  padding: 32px;
  align-items: center;
}

/* Home page */

/* Footer */

.footer {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 16px;
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0px;
  z-index: 1;
  left: calc(50% - 150px);
}

/* From Uiverse.io by ahmed150up2 */
.footer-card {
  display: flex;
  height: 70px;
  width: 270px;
}

.footer-card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.footer-card .social-link1,
.footer-card .social-link2,
.footer-card .social-link3,
.footer-card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.footer-card svg {
  transform: scale(1);
}

.footer-card .social-link1:hover {
  background-color: #1a1e22;
  animation: bounce_613 0.4s linear;
}

.footer-card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.footer-card .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.footer-card .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Login page*/

.password-container,
.email-container {
  display: flex;
  flex-direction: column;
}

.email-container label,
.password-container label {
  color: white;
}

/* User Login tile */

.element-container {
  background: var(--main-color);
  border-radius: 32px;
  padding: 16px;
  margin: 64px;
}

.icon {
  align-content: center;
  padding: 16px;
}

.icon-lower-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100px;
}

.icon-top-area {
  padding: 5px;
  padding-bottom: 15px;
}

.text-in-icon {
  max-width: 75%;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* App stuff */

.user-tile {
  align-self: flex-end;
}

.user-image {
  color: white;
}

.login-dropdown-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

/* The header AKA Navbar for the page*/

nav a.active {
  color: var(--accent-color);
  font-weight: bold;
  font-size: 1.5rem;
}

nav a {
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  color: var(--accent-color);
  transform: translateY(-2px);
}

.navbar-header {
  position: fixed;
  top: 0px;
  width: 100%;
  backdrop-filter: blur(10px);
}

.navbar-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: relative;
  height: 7rem;
}

nav a {
  color: white;
}

.navbar-links {
  display: flex;
}

/* Burger menu */

.burger-menu {
  display: none;
}

/* Responsive Navbar */

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    font-size: 1.5rem;
  }

  .navbar-links {
    display: flex;
    align-items: flex-end;
    height: 0;
    opacity: 0;
    transition: height 0.8s linear, opacity 0.8s linear;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 5rem;
    padding: 0.3rem;
    border-radius: 8px;
  }

  .navbar-links.open {
    /* background-color: var(--main-bg-color); */

    height: 150px;
    opacity: 1;
  }
}

/* login icon */
.login-icon-container {
  background: rgba(25, 25, 25, 0.3);
  box-shadow: 0 0 17px rgb(255, 255, 255);
  display: flex;
  gap: 16px;
  width: fit-content;
  padding: 8px;
  padding: 8px;
  border-radius: 16px;
}

.profile-tile {
  position: fixed;
  top: 76px;
  right: 16px;
}

.login-text {
  font-size: 12px;
}

/* The exercises page */

.exercises-list-component {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.exercises-component {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 64px;
  margin-top: 32px;
  border-radius: 32px;
}

.exercises-list {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 16px;
}

.exercise {
  flex-shrink: 1;
}

.exercise-icon {
  transition: all 0.2s ease;
  cursor: pointer;
  width: fit-content;
  background-color: var(--main-color);
  border-radius: 16px;
  padding: 8px 16px;
  border: grey solid 0.1px;
}

.exercise p {
  font-size: 1rem;
  padding: 1rem;
}

.exercise-details-container h2 {
  color: white;
}

.exercise-details-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.buttons {
  position: relative;
  display: flex;
  gap: 6px;
  left: 400px;
  bottom: 45px;
}

.exercise-details-container h2 {
  width: 400px;
}

/* For the Search bar in the exercises page */

.search-container {
  display: flex;
  width: 320px;
  background-color: rgb(255, 255, 255);
  border-radius: 32px;
  justify-content: center;
}

.search-input {
  all: unset;
  text-align: center;
}

.searchbar {
  display: flex;
}

.searchbar button {
  color: white;
  position: relative;
  left: 32px;
}

/* Workout Page  */

.workout-template-list {
  background-color: var(--main-color);
  margin: 120px 64px 0px 64px;
}

.new-workout-form {
  background-color: var(--main-color);
}

.new-template-form {
  padding: 16px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.new-template-form button {
  align-self: flex-start;
}

.new-template-form h2 {
  color: white;
}
.template-exercise {
  background-color: var(--main-color);
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.template-exercise p {
  width: 5rem;
}

.template-exercises {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.exercise-in-template {
  background-color: var(--main-color);
  height: 128px;
  width: 128px;
  border-radius: 32px;
}

.workout-template-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 64px 32px;
}

.workout-template-icon {
  background-color: var(--main-color);
  width: 16rem;
  height: 8rem;
  border-radius: 32px;
  padding: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px var(--button-hover-shadow);
}

.exercise-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}
*/ .workout-template-icon h3 {
  position: sticky;
  top: 5px;
  background-color: var(--main-color);
  z-index: 1;
  text-align: center;
}

.workout-template-icon-exercises {
  padding-top: 16px;
  font-size: 12px;
  overflow: auto;
  flex: 1;
}

.workout-template-icon p {
  font-size: 12px;
}

.workout-template-icon-exercises::after {
  /* content: "";
  position: sticky;
  bottom: 0;
  height: 1rem;
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(167, 226, 227, 0) 0%,
    rgba(167, 226, 227, 1) 100%
  );
  pointer-events: none;
  z-index: 3;
  border-radius: 0 0 32px 32px; */
}

/* Buttons */

button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.button {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  background-color: var(--button-color);
  border-radius: 32px;
  padding: 8px 16px;
  border-style: none;
  color: white;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}

.reset-button {
  background-color: var(--button-color);
}

.add-template-button {
  display: flex;
  justify-content: center;
  margin: 64px;
}

.add-template-exercise-button {
  height: 128px;
  width: 128px;
}

.save-template-button {
  margin-top: 32px;
  background-color: #222a84;
  width: 96px;
  box-sizing: content-box;
  border-style: double;
  border-width: 4px;
  box-shadow: 0px 0px 17px rgb(255, 255, 255);
}

.delete-button {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
  border-radius: 8px;
  background-color: var(--main-color);
}

.save-template-button-container {
  display: flex;
  justify-content: center;
}

.icon-buttons {
  display: flex;
  justify-content: space-between;
}

.icon-edit-button {
  cursor: pointer;
}

/* Edit button */

.button-with-icon {
  position: relative;
  display: flex;
  gap: 6px;
  width: 100px;
  height: 40px;
  background-color: var(--button-color);
  border-radius: 6px;
  align-items: center;
  padding: 6px;
  border-style: none;
  transition-duration: 0.3s;
}

.button-with-icon:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 12px var(--button-hover-shadow);
}

.edit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: var(--button-color);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.svg {
  width: 24px;
  position: absolute;
  right: 0;
  margin: 10px;
  transition-duration: 0.3s;
}

.edit-button:hover {
  color: transparent;
}

.edit-button:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

/* .edit-button:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212); */
/* } */

/* Overlay.css */
.overlay-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
