@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "roboto";
}

:root {
  --main-bg-color: #191923;
  --main-color: rgba(38, 0, 255, 0.3);
  --accent-color: #d5a021;
  --button-hover-shadow: rgba(255, 255, 255, 0.6);
  --button-color: rgba(105, 122, 206, 0.713);
  --header-height: 7rem;
  --footer-height: 3rem;
  --header-footer-background-color: rgba(8, 4, 110, 0.474);
}

button {
  cursor: pointer;
}
p,
label {
  color: white;
}

/* General classes */

body {
  background-color: rgb(13, 11, 31);
}

.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-small {
  gap: 6px;
}

/* Plasma background */

.plasma-container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main content */

.main-content {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element-container {
  background: var(--main-color);
  border-radius: 32px;
  padding: 1rem;
  margin: 64px;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* The header AKA Navbar for the page*/

/* Burger menu */

/* login user tile */

.exercise-icon:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
}

/* Buttons */

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.button {
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  background-color: var(--button-color);
  border-radius: 32px;
  padding: 8px 16px;
  border-style: none;
  color: white;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px var(--button-hover-shadow);
  background-color: var(--accent-color);
  border-radius: 0.5rem;
  padding: 3px;
}

.button-with-icon {
  position: relative;
  display: flex;
  gap: 6px;
  width: 100px;
  height: 40px;
  background-color: var(--button-color);
  border-radius: 6px;
  align-items: center;
  padding: 6px;
  border-style: none;
  transition-duration: 0.3s;
}

.button-with-icon:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 12px var(--button-hover-shadow);
}

/* For the Edit button in the EditTemplate component */
.svg {
  width: 24px;
  position: absolute;
  right: 0;
  margin: 10px;
  transition-duration: 0.3s;
}

.overlay-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
