/* General classes */

body {
  background-color: black;
}

/* Plasma background */

.plasma-container {
  position: fixed;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button {
  transition: all 0.2s ease;
  cursor: pointer;
  width: fit-content;
  background-color: rgba(0, 200, 255, 0.7);
  border-radius: 32px;
  padding: 8px 16px;
  border-style: none;
}

.element-container {
  background: var(--main-color);
  border-radius: 32px;
  padding: 16px;
  margin: 64px;
}

.icon {
  align-content: center;
  padding: 16px;
}

.icon-lower-area {
  display: flex;
  justify-content: center;
  align-items: end;
  max-height: 100px;
}

.icon-top-area {
  padding: 5px;
  padding-bottom: 15px;
}

.text-in-icon {
  max-width: 75%;
}

p {
  font-size: px;
  color: white;
}

.flex-columns {
  display: flex;
  flex-direction: column;
}

h1 {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* App stuff */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg-color: #191923;
  --main-color: #a7e2e3;
  --accent-color: #d5a021;
}

.main-content {
  /* background-image: url("../public/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 840px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 80%;
  height: auto;
  margin: 8% auto;
  background-color: rgba(25, 25, 35, 0.5);
  border-radius: 32px;
  padding: 32px;
  align-items: center;
}

.user-tile {
  align-self: flex-end;
}

.user-image {
  color: white;
}

.login-dropdown-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.exercise {
  display: flex;
}

header {
  background-color: #a7e2e3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  width: 100%;
}

footer {
  background-color: #a7e2e3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 16px;
}

/* The header for the page*/
header h1 {
  color: #333;
}

nav {
  gap: 100px;
}

nav a.active {
  color: var(--accent-color);
  font-weight: bold;
  font-size: large;
}

/* login icon */
.login-icon-container {
  background: rgba(25, 25, 25, 0.3);
  box-shadow: 0 0 17px rgb(255, 255, 255);
  display: flex;
  gap: 16px;
  width: fit-content;
  padding: 8px;
  padding: 8px;
  border-radius: 16px;
}

.profile-tile {
  position: fixed;
  top: 76px;
  right: 16px;
}

.login-text {
  font-size: 12px;
}

/* The buttons for the navbar tabs */
nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent-color);
}

/* The exercises page */
.exercise-details-tab {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.exercise-details {
  background-color: var(--main-color);
  border-radius: 32px;
  padding: 16px;
  margin: 64px;
}
.exercises-list-component {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.exercises-list-component .exercises-component {
  text-align: center;
  position: sticky;
  z-index: 1;
}

.exercises-component {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 64px;
  margin-top: 32px;
  border-radius: 32px;
}

.exercises-list {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 5px;
}

.exercise p {
  font-size: 1rem;
  padding: 10px;
  display: flex;
  width: auto;
}

.exercise-card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.exercise-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 200, 255, 0.4);
}

/* For the Search bar in the exercises page */

.search-container {
  margin-top: 32px;
  display: flex;
  width: 320px;
  background-color: var(--main-color);
  border-radius: 32px;
  justify-content: center;
  align-self: center;
}

.search-input {
  all: unset;
  text-align: center;
}

.exercises-component h1 {
  color: white;
}

/* Workout Page  */

.workout-template-list {
  background-color: var(--main-color);
  margin: 120px 64px 0px 64px;
}

.new-workout-form {
  background-color: var(--main-color);
}

.new-template-form {
  padding: 16px;
  margin: 64px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.new-template-form button {
  align-self: flex-start;
}

.new-template-form h2 {
  color: white;
}
.template-exercise {
  background-color: var(--main-color);
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
}

.template-exercise p {
  width: 5rem;
}

.template-exercises {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.exercise-in-template {
  background-color: var(--main-color);
  height: 128px;
  width: 128px;
  border-radius: 32px;
}

.workout-template-container {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin: 64px 32px;
}

.workout-template-icon {
  background-color: var(--main-color);
  width: 16rem;
  height: 8rem;
  border-radius: 32px;
  padding: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.workout-template-icon h3 {
  position: sticky;
  top: 5px;
  background-color: var(--main-color);
  z-index: 1;
  text-align: center;
}

.workout-template-icon-exercises {
  padding-top: 16px;
  font-size: 12px;
  overflow: auto;
  flex: 1;
}

.workout-template-icon p {
  font-size: 12px;
}

.workout-template-icon-exercises::after {
  content: "";
  position: sticky;
  bottom: 0;
  height: 1rem;
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(167, 226, 227, 0) 0%,
    rgba(167, 226, 227, 1) 100%
  );
  pointer-events: none;
  z-index: 3;
  border-radius: 0 0 32px 32px;
}

/* Buttons */

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(255, 165, 0, 0.4);
  background-color: var(--accent-color);
}

.add-template-button {
  display: flex;
  justify-content: center;
  margin: 64px;
}

.add-template-exercise-button {
  height: 128px;
  width: 128px;
}

.save-template-button {
  margin-top: 32px;
  background-color: #fc9f5b;
  width: 96px;
  box-sizing: content-box;
}

.icon-x {
  font-weight: bold;
  cursor: pointer;
}

.save-template-button-container {
  display: flex;
  justify-content: center;
}

.icon-buttons {
  display: flex;
  justify-content: space-between;
}

.icon-edit-button {
  cursor: pointer;
}

/* Overlay.css */
.overlay-backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Login page*/

.password-container,
.email-container {
  display: flex;
  flex-direction: column;
}
