* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
}

.container {
  background: lightgray;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
}

.exercise-details-tab {
  display: flex;
  margin-bottom: 100px;
}

.exercise {
  display: flex;
}

body {
  background-color: rgb(247, 247, 247);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  margin-bottom: 10px;
}

/* The header for the page*/
header h1 {
  color: #333;
}

nav {
  gap: 100px;
}

/* The buttons for the navbar tabs*/
nav button,
.exercise button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  gap: 10px;
}

nav button:hover,
.exercise button:hover {
  color: rgb(107, 184, 209);
}

.selectedTab {
  background-color: lightblue;
}

/* The exercises tab */
.exercise-details-tab {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.exercises-list-component,
.exercise-details {
  background-color: rgb(238, 247, 255);
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.exercises-list-component h1 {
  text-align: center;
  margin-bottom: 24px;
}

.exercises-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 5px;
}

.exercise p {
  padding: 10px;
  width: 100%;
}

.exercise {
  border: 1px solid gray;
  border-radius: 10px;
  width: 200px;
  display: flex;
  gap: 0px;
  justify-content: space-between;
}

.exercise p {
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exercise-details {
}
